body {
    background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-lines-background_23-2149082774.jpg?w=740&t=st=1710523994~exp=1710524594~hmac=d132b1cddd5f5f887a89bce8c75e1342a2c4c26ea7367ab7da87fb0c556ae726');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}